@import "./../../assets/styles/main.scss";
.card {
  position: relative;
  max-width: 310px;
  min-height: 300px;
  min-width: 220px;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .option {
    display: flex;
    justify-content: flex-end;
    margin-right: 18px;
    margin-top: 12px;
  }
  .option:hover {
    cursor: pointer;
  }
}

.card-header {
  margin-top: -40px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .avatar {
    vertical-align: middle;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    outline: 5px solid hsla(0, 0%, 100%, 1);
  }
}
.btn:active {
  transform: translateY(4px);
  box-shadow: 0px 2px 5px rgba(60, 210, 120, 0.25);
}

.btn:hover {
  cursor: pointer;
}

.follow-btn {
  width: 88px;
  height: 32px;
  @include button($bgClr: #3cd278, $textClr: $main-text-clr-white);
}

.unfollow-btn {
  width: 108px;
  height: 32px;
  @include button($bgClr: #e7e7e7, $textClr: $main-text-clr-gray);
}

.card-body {
  margin-top: 13px;
  padding: 0 16px;
  .handler {
    display: flex;
    flex-wrap: wrap;
    line-height: 125%;
    .name {
      color: $main-text-clr;
      font-weight: 600;
      font-size: 0.875rem;
      white-space: normal;
    }
    .user_name {
      font-size: 0.75rem;
      margin: 0 4px;
      color: $sub-text-clr;
    }
  }
  .bio {
    margin-top: 8px;
    font-size: 0.75rem;
    line-height: 125%;
    color: $main-text-clr;
  }

  .follower_category {
    display: flex;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 125%;

    margin-top: 16px;
    .follower_count {
      .number {
        font-weight: 800;
      }
    }
    .category {
      margin-left: 20px;
    }
  }
}

// card footer
.card-footer {
  padding: 0 16px;

  .socmed_list {
    display: flex;
    .socmed_icon {
      margin-top: 18px;
      margin-bottom: 18px;
      margin-right: 8px;

      width: 30px;
      height: 30px;
      background: #e7e7e7;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .socmed_icon:hover {
      cursor: pointer;
    }
  }
}
